.body{
  background-color: #0f0e17;
}
.text{
 color: #fffffe;
}
.paragraf{
  color: #fffffe;
}
.nav-vertikal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}

.nav-lanjut {
  background: #7C3AED;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
}

.nav-kembali {
  background: #020617;
  color: #93C5FD;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
}