.body{
  background-color: #0f0e17;
}
.text{
  width: 300px;
  height: 50px;
  background-color: #ff8906;
  border-radius: 12px;
  color: #fffffe;
}
.paragraf{
  color: #a7a9be;
}
.nav-bawah {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
}

.nav-lanjut {
  background: #7C3AED;
  color: #FFFFFF;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
}
.nav-kembali-mesin {
  background: #020617;
  color: #93C5FD;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
}
.nav-kembali {
  background: #020617;
  color: #9CA3AF;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
}